@inherits LayoutComponentBase

<div class="page" style="display:flex; flex-direction:column; min-height:100vh;">
    <FluentHeader style="width:100%; flex-shrink:0;">
        <TopBar />
    </FluentHeader>

    <main style="flex-grow:1;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />