@page "/Notes"
<h3>Notes</h3>

<ul>
    @foreach (var error in _errors)
    {
        <li class="text-danger">@error</li>
    }
</ul>

<Virtualize Items="_notes" Context="note">
    <div class="card mb-3">
        <div class="card-header">@note.Title</div>
        <div class="card-body">@note.Content</div>
        <div class="card-footer">@note.TimeStamp</div>
    </div>
</Virtualize>

@if (_loadingNotes)
{
    <div>Loading...</div>
}