@page "/signup"

<h3>Signup</h3>

<EditForm OnValidSubmit="Submit" Model="_model">
    <DataAnnotationsValidator/>
    <ul>
        @foreach (var error in _errors)
        {
            <li class="text-danger">@error</li>
        }
    </ul>

    <InputText @bind-Value="_model.Username" placeholder="Username"/>
    <ValidationMessage For="@(() => _model.Username)"/>

    <InputText @bind-Value="_model.Password" placeholder="Password"/>
    <ValidationMessage For="@(() => _model.Password)"/>

    <button type="submit" disabled="@_isLoading">(@_isLoading ? "Loading..." : "Signup")</button>
</EditForm>